.jumpButton {
  width: 5vw;
  display: flex;
  border-radius: 50%;
  height: 10vh;
  position: fixed;
  left: 88vw;
  top: 80vh;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px rgb(48, 48, 48);
  justify-content: center;
  align-items: center;

  overflow: hidden;
  z-index: 7;
}

.rocket {
}

.rocketContainer {
  width: 100%;
  height: 100%;
  transform: scale(0.5);
  overflow: initial;
  display: flex;

  justify-content: center;
  align-items: center;
}
